body{
    background-color:#232325 ;
}
h1{
    padding-right: 720px;
}
h1 text{
    font-size:40px;
    color:#1e84b2;
}
.header{
display:flex;
flex-wrap: wrap;
justify-content: space-evenly;

}
h1{
    color:#ffffff;
    /* text-align: center; */
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff00;
font-size: x-large;  
font-weight: bold;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: #1e84b2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: rgba(17, 17, 17, 0.52);
color: #63859b;  
}

.about{
    font-size: x-large;
    color: #ffffff;
    border: #ffffff31;
    border-radius: 10px;
    background-color: #ffffff31;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}